.btn-warning,
.btn-outline-warning,
.btn-warning:hover,
.btn-outline-warning:hover {
  color: var(--base-font-color);
  /* filter: grayscale(10%); */
}

.form-select:focus,
.form-control:focus {
  color: var(--base-font-color);
  background-color: var(--secondary-back-color);
  border-color: var(--base-font-color);
}

.form-select,
.form-control,
.form-control:disabled,
.list-group-item {
  color: var(--base-font-color);
  background-color: var(--secondary-back-color);
  border-color: var(--primary-accent-color);
}

.nav-tabs .nav-link.active {
  background-color: var(--primary-accent-color);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--primary-accent-color);
  box-shadow: 0 0 10px var(--primary-accent-color);
}

.form-label,
.form-control::placeholder {
  color: var(--base-font-color);
}

.form-text {
  color: var(--base-danger-color);
}

.modal-content {
  color: var(--base-font-color);
  background-color: var(--base-back-color);
}

.modal-header .btn-close {
  background-color: var(--primary-accent-color);
  opacity: 0.9;
}

.modal-header .btn-close:hover {
  opacity: 1;
}

.card,
.card > * {
  color: var(--base-font-color);
  background-color: var(--secondary-back-color);
}

.card {
  overflow: hidden;
  border: 1px solid var(--primary-accent-color);
}

header .btn,
header .form-control {
  font-size: 0.8em;
}

.table {
  color: var(--base-font-color);
  background-color: var(--secondary-back-color);
  border-color: var(--primary-accent-color);
}

.nav-tabs {
  border-color: var(--secondary-back-color);
}

.nav-tabs .nav-link {
  background-color: var(--primary-accent-color);
}
