:root {
  --header-heigth: 100px;
}

.app-theme-light {
  --base-back-color: #fafafa;
  --secondary-back-color: #f0f1f2;
  --base-font-color: #000000;
  --primary-color: #8054a0;
  --secondary-color: #8e7aae;
  --primary-accent-color: #f7b617;
  --secondary-accent-color: #fff39f;
  --base-danger-color: #d11f36;
}

.app-theme-dark {
  --base-back-color: #3c404e;
  --secondary-back-color: #2c2e38;
  --base-font-color: #ffffff;
  --primary-color: #744297;
  --secondary-color: #4d2988;
  --primary-accent-color: #f7b617;
  --secondary-accent-color: #e24c0b;
  --base-danger-color: #ff0021;
}

@media (max-width: 576px) {
  :root {
    --header-heigth: 80px;
  }
}
