:root {
  --header-heigth: 100px;
}

.app-theme-light {
  --base-back-color: #FAFAFA;
  --secondary-back-color: #F0F1F2;
  --base-font-color: #000000;
  --primary-color: #8054A0;
  --secondary-color: #8E7AAE;
  --primary-accent-color: #F7B617;
  --secondary-accent-color: #FFF39F;
  --base-danger-color: #D11F36;
}

.app-theme-dark {
  --base-back-color: #3C404E;
  --secondary-back-color: #2C2E38;
  --base-font-color: #FFFFFF;
  --primary-color: #744297;
  --secondary-color: #4D2988;
  --primary-accent-color: #F7B617;
  --secondary-accent-color: #E24C0B;
  --base-danger-color: #FF0021;
}
