.collectionsItem {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-back-color);
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    overflow: hidden;
}

.collectionsItem:hover {
    box-shadow: 0 0 10px;
    color: inherit;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    aspect-ratio : 16 / 9;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://live.staticflickr.com/98/245744537_9b2401b807_b.jpg);
    border-radius: 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    width: fit-content;
}
