.header {
    padding: 0.5rem 2rem;
    height: var(--header-heigth);
    overflow: hidden;
    background-color: var(--base-main-color);
}

.row {
    height: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 0;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets//images/logo-no-background.svg);    
}

.logoLink {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
